@import 'https://fonts.googleapis.com/css2?family=Lexend+Exa:wght@400&display=swap';

#app {
  display: flex;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  place-items: center;
}

html {
  overflow-y: hidden;
  overflow-x: hidden;
  width: 100vw;
  height: 100vh;
}

.subButton {
  font-size: 10px;
  margin-top: -2px;
}

.mainButton {
  margin-bottom: -2px;
  margin-top: 2px;
}

a {
  color: #131313;
}

:root {
  --color-background: #f0f2f5;
  --pane-padding: 5px 42px;
  --online: #00FF00;
  --synchronizing: #FF681E;
  --offline: #FF000D;
  --white: #ffffff;
  --blue: #0A66C2;
  --button-hover: #09223b;
  --black: #131313;
}

.button {
  background-color: var(--blue);
  border: 0;
  color: var(--white);
  cursor: pointer;
  font-size: 16px;
  justify-content: center;
  line-height: 20px;
  min-height: 40px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  touch-action: manipulation;
  transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  user-select: none;
  -webkit-user-select: none;
  border-radius: 7px;
}

.button:hover {
  background-color: var(--button-hover);
  color: var(--white);
}

.button:active {
  background: var(--button-hover);
}

.button:disabled {
  cursor: not-allowed;
  background: rgba(0, 0, 0, .08);
  color: rgba(0, 0, 0, .3);
}

.loader {
  width: 24px;
  height: 24px;
  border: 3px solid #FFF;
  border-bottom-color: transparent;
  border-radius: 50%;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  background: var(--color-background);
  line-height: 1.6;
  font-family: 'Lexend Exa', sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}